/* VideoComponent.module.css */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow-y: auto;
    padding-top: 50px; /* Pushing down the entire container for the mp4 images */
}

.hallway {
    padding-top: 110px;
    display: grid;

    grid-template-columns: repeat(4, 1fr);  
    gap: 2px;
    
}

.hallway > .videoWrapper:nth-last-child(-n+3) {
    grid-column: span 2;
}

.videoWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.frame {
    width: 255px; /* Reduced size by 15% */
    padding: 5px;
}

.video {
    width: 100%;
    height: 300px;
    object-fit: contain;
}

.button {
    position: relative;
    top: -25px; /* Adjusted */
    left: calc(50% - 50px); /* Adjusted to bring it to the center */
    padding: 2px 5px;
    z-index: 2;
    background: #f0f0f0;
    width: 100px;
    height: 50px;
    text-align: center;
    box-sizing: border-box;
}

/* Tablet Version */
@media (max-width: 1024px) and (min-width: 769px) {
    .hallway {
        grid-template-columns: repeat(4, 1fr); 
    }
    .hallway > .videoWrapper:nth-last-child(-n+1) {
        grid-column: span 2;
    }
    .frame {
        width: 233.75px; /* Reduced size by 15% */
        padding: 5px;
    }
    .video {
        height: 275px;
    }
}

/* Phone Version */
@media (max-width: 768px) {
    .hallway {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 4px;
        justify-items: center;
        align-items: center;
    }
    
    .hallway > .videoWrapper:nth-of-type(3) {
        grid-row: 2;
        grid-column: span 2;
        margin-left: 200px; /* Center adjustment */
    }

    .hallway > .videoWrapper:nth-of-type(2) {
        margin-right: -320px; /* Top adjustment */
    }

    .hallway > .videoWrapper:nth-last-child(-n+2) {
        grid-row: 3;
        margin-left: 30-40px; /* Bottom adjustment */
    }

    .frame {
        width: 195.5px; /* Reduced size by 15% */
        padding: 5px;
    }

    .video {
        height: 200px;
    }

    .videoWrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .button {
        position: relative;
        top: -5px; /* Adjusted for phone screens */
        left: calc(90px); /* Centered horizontally */
        transform: translateX(-50%);
    }
}
